@model IEnumerable<WeightedIndex.Models.MeasureModel>

@{
    ViewBag.Title = "Weighted Index";
}
<div class="row headingRow">
        <div class="col-md-3"><h4>Measure</h4></div>
        <div class="col-md-2"><h4>@Html.DisplayNameFor(model => model.performanceImpact)</h4></div>
        <div class="col-md-2"><h4>@Html.DisplayNameFor(model => model.quickToImplement)</h4></div>
        <div class="col-md-2"><h4>Score</h4></div>
        <div class="col-md-3 lastColumn"><h4>Settings</h4></div>
</div>
@foreach (var item in Model) {
<div class="row">
        <div class="col-md-3">@Html.DisplayFor(modelItem => item.name)</div>
        <div class="col-md-2">@Html.DisplayFor(modelItem => item.performanceImpact)</div>
        <div class="col-md-2">@Html.DisplayFor(modelItem => item.quickToImplement)</div>
        <div class="col-md-2 score">@Html.DisplayFor(modelItem => item.score)</div>
        <div class="col-md-3 lastColumn">@Html.ActionLink("Edit", "Edit", new { id=item.id }) | @Html.ActionLink("Delete", "Delete", new { id=item.id })</div>
</div>
}
<div class="row">
        <div id="lastRow" class="col-md-3">@Html.ActionLink("Create New", "Create")</div>
</div>