@model IEnumerable<WeightedIndex.Models.MeasureModel>

@{
    ViewBag.Title = "Weighted Index";
}
<div class="row headingRow">
        <div class="col-md-3"><h4>Measure</h4></div>
        <div class="col-md-2"><h4>@Html.DisplayNameFor(model => model.performanceImpact)</h4></div>
        <div class="col-md-2"><h4>@Html.DisplayNameFor(model => model.quickToImplement)</h4></div>
        <div class="col-md-2"><h4>Score</h4></div>
        <div class="col-md-3 lastColumn"><h4>Settings</h4></div>
</div>
<div data-bind="foreach: measureObservableArray">
    <div class="row" data-bind="css: { highestScore: $parent.hasHighestScore($data) }">
            <div class="col-md-3" data-bind="text: name"></div>
            <div class="col-md-2" data-bind="text: performanceImpact"></div>
            <div class="col-md-2" data-bind="text: quickToImplement"></div>
            <div class="col-md-2 score" data-bind="text: score"></div>
            <div class="col-md-3 lastColumn"><a data-bind="text: 'Edit', click: $parent.edit"></a><span data-bind="if: $data"> | </span><a data-bind="text: 'Delete', click: $parent.delete"></a></div>
    </div>
</div>
<div class="row">
        <div id="lastRow" class="col-md-3">@Html.ActionLink("Create New", "Create")</div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/knockoutjs");
    @Scripts.Render("~/bundles/MeasureMVVM")
    <script type="text/javascript">MeasureViewController.Index();</script>
}