<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
    <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Weighted Index</a>
        </div>
      </div>
    </div>
    <div class="container">
        <br />
        <br />
        <br />
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)<script src="~/Scripts/jquery-migrate-1.2.1.js"></script>
</body>
</html>